.hero-container {
            max-width: 85rem;
            margin: auto;
            padding: 6rem 1rem 2.5rem;
            text-align: center;
        }
        .hero-title {
            font-weight: bold;
            color: #1F2937;
            font-size: 2.25rem; /* 4xl */
        }
        .hero-subtitle {
            margin-top: 1.25rem;
            color: #4B5563;
            font-size: 1.125rem; /* lg */
        }
        .button-container {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
        .social-button {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.75rem 1rem;
            color: #fff;
            text-decoration: none;
            border-radius: 50px;
            transition: background 0.3s ease;
        }
        .github-button {
            background: #333;
        }
        .instagram-button {
            background: #E1306C;
        }
        .social-button:hover {
            opacity: 0.8;
        }


    /* estilos de nav */
    /* Estilo base para los enlaces */
nav a {
    position: relative;
    color: #4B5563; /* Color gris para los enlaces */
    padding-bottom: 0.25rem; /* Espacio inferior para la barra */
    transition: color 0.3s ease;
    text-decoration: none;
}

/* Cambia el color al pasar el mouse */
nav a:hover {
    color: #1F2937; /* Color más oscuro al hacer hover */
}

/* Barra debajo del enlace */
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; /* Altura de la barra */
    background-color: #1F2937; /* Color de la barra */
    transition: width 0.3s ease; /* Transición suave */
}

/* Muestra la barra al hacer hover */
nav a:hover::after {
    width: 100%; /* Ancho completo al hacer hover */
}



